// menu
.f-menu {
	@include border-box;
	position: fixed;
	top: 0;
	left: 0;
	transform: translate(-$menu-width, 0);
	width: $menu-width;
	height: 100%;
	z-index: 1;
	overflow-x: hidden;
	overflow-y: auto;
	-webkit-overflow-scrolling: touch;

	.f-menu-active & {
		transform: translate(0, 0);
	}

	a {
		transition: padding .1s ease-out, box-shadow .3s ease-out;
		box-shadow: inset 0.25rem 0 0 0 transparentize(map-get($theme-colors, white), 1);
		&:hover {
			text-decoration: underline;
		}

		&.f-active {
			box-shadow: inset 0.25rem 0 0 0 map-get($theme-colors, white);
			text-transform: uppercase;
			font-weight: bold;
			color: map-get($theme-colors, green);
			padding-left: 1rem;
		}
	}

}
