@import "src/lib/font-size.css";
@import "src/lib/font-weight.css";
@import "src/lib/font-family.css";
@import "src/lib/font-style.css";
@import "src/lib/text-align.css";
@import "src/lib/space.css";
@import "src/lib/display.css";
@import "src/lib/float.css";
@import "src/lib/vertical-align.css";
@import "src/lib/position.css";
@import "src/lib/sides.css";
@import "src/lib/flex.css";
@import "src/lib/size.css";
@import "src/lib/line-height.css";
@import "src/lib/letter-spacing.css";
@import "src/lib/text-decoration.css";
@import "src/lib/overflow.css";
@import "src/lib/radius.css";

:root {
	--mqs: n, xs, sm ,md, lg, xl;
	--ms: -6, -5, -4, -3, -2, -1, 0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10;
	--z: \.4, \.5, \.6, \.7, \.8, \.9, 0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10;
	--f-f-styles: (sans, serif, mono), (f-f-sans, f-f-serif, f-f-mono);
	--f-f-sans: sans-serif;
	--f-f-serif: serif;
	--f-f-mono: monospace;
	--f-s-styles: (normal, italic, oblique), (n, i, o);
	--f-w-min: 100;
	--f-w-max: 900;
	--l-h--default: 1;
	--l-h--tight: var(--ms2);
	--l-h--normal: var(--ms1);
	--l-h--loose: var(--ms4);
	--l-h: (d, t, n, l), (var(--l-h--default), var(--l-h--tight), var(--l-h--normal), var(--l-h--loose));
	--l-s--default: initial;
	--l-s--tight: -0.8em;
	--l-s--normal: .16em;
	--l-s--loose: .32em;
	--l-s: (d, t, n, l), (var(--l-h--default), var(--l-h--tight), var(--l-h--normal), var(--l-h--loose));
	--dirs: all, top, bottom, x, y;
	--dirs-short: a, t, b, x, y;
	--z-6: .335rem;
	--z-5: .402rem;
	--z-4: .482rem;
	--z-3: .579rem;
	--z-2: .694rem;
	--z-1: .833rem;
	--z0: 0;
	--z1: 1rem;
	--z2: 1.2rem;
	--z3: 1.44rem;
	--z4: 1.728rem;
	--z5: 2.074rem;
	--z6: 2.488rem;
	--z7: 2.986rem;
	--z8: 3.582rem;
	--z9: 4.3rem;
	--z10: 5.16rem;
}

@custom-media --mq-xs (min-width: 20em);
@custom-media --mq-sm (min-width: 30em);
@custom-media --mq-md (min-width: 37em);
@custom-media --mq-lg (min-width: 50em);
@custom-media --mq-xl (min-width: 75em);
