<div class="f-item-group m-b:7 b-b:black" id="{{@key}}">

{{#if items}}
	<div class="m-b:5">
		<h2
			class="
				f:5
				m-b:0
				c:green
			"
			data-f-toggle="labels"
		>{{name}}</h2>
	</div>
	{{#each items}}
	<div
		href="#{{@key}}"
		id="{{@key}}"
		class="
			d:b
			m-b:7
			c:black.7
		"
	>
			<div class="m-b:5" data-f-toggle="labels">
				<a
					href="#{{@key}}"
					class="d:i-b m-b:1"
				>
					<h3 class="f:3 c:black.7">{{name}}</h3>
				</a>
				{{> f-item-controls}}
			</div>{{> f-item-content this}}
		</div>
	{{/each}}
{{else}}
	<div class="m-b:5" data-f-toggle="labels">
		<h2 class="f:5 m-b:.5 c:green">{{name}}</h2>
		{{> f-item-controls}}
	</div>{{> f-item-content this}}
{{/if}}

</div>
