code[class*="language-"],
pre[class*="language-"]{
	font-family: monospace;
	direction: ltr;
	tab-size: 2 !important;
	text-align: left;
	white-space: pre;
	word-spacing: normal;
	word-break: normal;
	line-height: 1.5;
	background-color: #272822;
	color: white;
	border-radius: 5px;
	overflow-x: scroll;

}
.token.comment{
	color: slategray;

}
.token.prolog{
	color: slategray;

}
.token.doctype{
	color: slategray;

}
.token.cdata{
	color: slategray;

}
.token.tag{
	color: #f92672;

}
.token.entity{
	color: #f8f8f2;

}
.token.atrule{
	color: #e6db74;

}
.token.url{
	color: #f8f8f2;

}
.token.selector{
	color: #a6e22e;

}
.language-css .token.string{
	color: #f8f8f2;

}
.token.string{
	color: #a6e22e;

}
.token.property{
	color: #f92672;

}
.token.important{
	color: #fd971f;
	font-weight: bold;

}
.token.punctuation{
	color: #f8f8f2;

}
.token.number{
	color: #ae81ff;

}
.token.keyword{
	color: #66d9ef;

}
.token.boolean{
	color: #ae81ff;

}
.token.operator{
	color: #f8f8f2;

}
.token.char{
	color: #a6e22e;

}
.token.regex{
	color: #fd971f;

}
.token.variable{
	color: #f8f8f2;

}
.token.constant{
	color: #f92672;

}
.token.symbol{
	color: #f92672;

}
.token.builtin{
	color: #a6e22e;

}
.token.attr-value{
	color: #e6db74;

}
.token.deleted{
	color: #f92672;

}
.token.inserted{
	color: #a6e22e;

}
.token.namespace{
	opacity: 0.7;

}
.token.bold{
	font-weight: bold;

}
.token.italic{
	font-style: italic;

}
.language-markup .token{
	background-color: rgba(40,42,54,1);
	color: rgba(235,228,190,1);

}
.language-markup .token.comment{
	color: rgba(95,95,167,1);

}
.language-markup .token.doctype{
	color: rgba(95,93,145,1);

}
.language-markup .token.tag{
	color: rgba(255,135,215,1);

}
.language-markup .token.tag .tag .punctuation{
	color: rgba(96,250,136,1);

}
.language-markup .token.tag .punctuation{
	color: rgba(96,250,136,1);

}
.language-markup .token.tag .attr-value{
	color: rgba(255,240,105,1);

}
.language-markup .token.tag .attr-name{
	color: rgba(235,235,235,1);

}
.language-markup .token.entity{
	color: rgba(255,255,255,1);

}
